<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    
    <!-- React e ReactDOM -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    
    <!-- Material-UI -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script src="https://unpkg.com/@emotion/react@11.11.1/dist/emotion-react.umd.min.js"></script>
    <script src="https://unpkg.com/@emotion/styled@11.11.0/dist/emotion-styled.umd.min.js"></script>
    <script src="https://unpkg.com/@mui/material@5.14.0/umd/material-ui.production.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script>
        window.serverData = {
            message: "{{message}}"
        };
    </script>
    <script type="text/babel">
        const { Button, Card, CardContent, Typography, Box } = MaterialUI;

        function App() {
            const [count, setCount] = React.useState(0);
            const message = window.serverData.message;
            
            const cardStyle = {
                maxWidth: 345,
                margin: '20px'
            };

            return (
                <div>
                    <Typography variant="h1">
                        {message}
                    </Typography>
                    
                    <Box>
                        <Button 
                            variant="contained" 
                            color="primary"
                            onClick={() => setCount(count + 1)}
                        >
                            Incrementar
                        </Button>
                        
                        <Typography variant="h4">
                            Contador: {count}
                        </Typography>
                        
                        <Button 
                            variant="outlined" 
                            color="secondary"
                            onClick={() => setCount(0)}
                        >
                            Resetar
                        </Button>
                    </Box>

                    <Card style={cardStyle}>
                        <CardContent>
                            <Typography variant="h5" component="div">
                                Exemplo de Card
                            </Typography>
                            <Typography variant="body2">
                                Este é um exemplo de card usando Material-UI com React
                            </Typography>
                        </CardContent>
                    </Card>
                </div>
            );
        }

        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<App />);
    </script>
</body>
</html>